<div class="row">
  <div class="col-md-4 m-auto">
    <div class="login-wrap">
      <div class="login-html text-center ">
        <label for="tab-1" class="tab" style="color:#33b5e5;">
          <h1>LOGIN</h1>
        </label>
        <form action="/users/login" method="post">
          <div class="login-form">
            <div class="sign-in-htm">
              <div class="group">
                <label for="user" class="label">Username or Email</label>
                <input id="user" type="text" class="input">
              </div>
              <div class="group">
                <label for="pass" class="label">Password</label>
                <input id="pass" type="password" class="input" data-type="password">
              </div>
              <div class="group">
                <button type="submit" class="button" value=" login">login</button>
              </div>
              <div class="hr"></div>
            </div>
        </form>
        <div>
          <div class="group">
            <label for="user" class="label">No Account ?</label>
          </div>
          <div class="group">
            <a class="register-btn btn  btn-block" href="/users/register">Register</a>
          </div>
          <div class="hr"></div>
        </div>
      </div>
    </div>
  </div>
</div>